aeza-archive/media/27_google_drive_ai_consultant_with_memory.json
{
  "name": "google_drive_ai_consultant_with_memory",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2960,
        200
      ],
      "id": "cae33b68-62e2-4a5d-8c17-5b92336afe36",
      "name": "Telegram Trigger",
      "webhookId": "fa03de28-f60c-433c-a319-b67fe2774e80",
      "credentials": {
        "telegramApi": {
          "id": "FhTtyH2nfVOB2uCi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5d8f92f3-700f-4d1f-8078-4fc6e6936adb",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2680,
        200
      ],
      "id": "43a50380-3664-43fc-9ab8-db5344c0ce17",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93da28c0-9a7e-41b6-8c04-e37fe0aef5e4",
              "name": "text",
              "value": "={{ $json.text||$json.message.text }}",
              "type": "string"
            },
            {
              "id": "1b6f9dfe-0b71-4c65-9998-adf019cc32ee",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2080,
        180
      ],
      "id": "34eb499d-4fba-4bdc-b77f-2298a4ae36d3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2520,
        380
      ],
      "id": "1dc40186-5af4-49e5-a0de-10e38cd1f4e5",
      "name": "Telegram",
      "webhookId": "ae0a2bf8-10f0-4221-ab16-e421ed8e4737"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2300,
        380
      ],
      "id": "18c826c1-33fa-41e2-837a-e74bfc2211fb",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $('ai_consultant').item.json.output }}",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "1fc30187-46e4-44fe-9dc8-4f3a0c3dcd5f",
      "name": "Telegram1",
      "webhookId": "80190f26-3163-481c-b947-0e4e1bb725f5"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1-mini",
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -960,
        380
      ],
      "id": "f1495b4c-4cc4-484e-85a9-2daed3709dee",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -340,
        40
      ],
      "id": "fad5c3c4-62fc-4fd0-ac60-7c00de75a751",
      "name": "Telegram2",
      "webhookId": "1403b85e-4f91-42c5-953d-1e7e79aa44a1"
    },
    {
      "parameters": {
        "tableId": "message_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $('Telegram Trigger').item.json.message.from.username }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "user"
            },
            {
              "fieldId": "message_text",
              "fieldValue": "={{ $('Edit Fields').item.json.text }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Telegram Trigger').item.json.message.from.first_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1780,
        180
      ],
      "id": "814e6969-9bc6-4666-8af5-52731a105c3d",
      "name": "Supabase"
    },
    {
      "parameters": {
        "tableId": "message_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $json.result.chat.id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $json.result.from.username }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "agent"
            },
            {
              "fieldId": "message_text",
              "fieldValue": "={{ $('ai_consultant').item.json.output }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.result.chat.username }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        280,
        0
      ],
      "id": "f065bf4e-b486-4292-8463-a336ee7d1da0",
      "name": "Supabase1"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents",
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "info_hub_docs"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -160,
        400
      ],
      "id": "a915841b-8cf8-43e4-8c50-9b8603c41475",
      "name": "Supabase Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        240,
        360
      ],
      "id": "e3eaad1e-c7f0-4bc4-94ee-b588152ddeef",
      "name": "OpenRouter Chat Model1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        560
      ],
      "id": "23ef7a28-94f2-4d8a-9018-41ae99a4c5b1",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "stocks",
          "mode": "list",
          "cachedResultName": "stocks"
        },
        "options": {
          "queryName": "match_stocks",
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "stock"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -580,
        740
      ],
      "id": "771205bd-c533-4b88-8d75-4538677b9eda",
      "name": "Supabase Vector Store1"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -180,
        700
      ],
      "id": "136d93b5-adbe-416a-8c9c-ce151cbd721d",
      "name": "OpenRouter Chat Model2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -420,
        900
      ],
      "id": "f74c22eb-eea3-47f6-8563-aa18246ccba1",
      "name": "Embeddings OpenAI1"
    },
    {
      "parameters": {
        "name": "stocks",
        "description": "={{ $('Edit Fields1').item.json.prompt_stocks_tool }}",
        "topK": 40
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -540,
        560
      ],
      "id": "2a5158fe-f120-4080-afc0-a9eed8e70562",
      "name": "stocks_tool"
    },
    {
      "parameters": {
        "name": "sales_technology",
        "description": "={{ $('Edit Fields1').item.json.prompt_sales_technology_tool }}",
        "topK": 40
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -120,
        220
      ],
      "id": "c95756dd-d8d4-4e2f-8a60-19c6dcc4ca41",
      "name": "sales_technology_tool"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "tableName": "chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -740,
        380
      ],
      "id": "153d8fe5-ac70-46b2-9995-0ee03a9cec45",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agent_prompt_instructions",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1560,
        180
      ],
      "id": "21274332-c83b-4ef6-9424-571035622e9c",
      "name": "Supabase2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1340,
        180
      ],
      "id": "cd1cedbf-1c1b-4f70-bc02-a9753ab6f768",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37687f67-0590-40e5-bfb4-8e8f8c0ac7cb",
              "name": "prompt_ai_consult",
              "value": "={{ $('Aggregate').item.json.data.filter(item => item.id == 1)[0].prompt }}",
              "type": "string"
            },
            {
              "id": "5ceb8460-9b63-4443-a978-74ca1111cc32",
              "name": "prompt_sales_technology_tool",
              "value": "={{ $('Aggregate').item.json.data.filter(item => item.id == 2)[0].prompt }}",
              "type": "string"
            },
            {
              "id": "b6e311ee-dc9e-47f6-bae8-af96f373f28d",
              "name": "prompt_stocks_tool",
              "value": "={{ $('Aggregate').item.json.data.filter(item => item.id == 3)[0].prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        180
      ],
      "id": "1543690a-7df6-4157-a2e2-2a72d6858bd0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Supabase').item.json.message_text }}",
        "options": {
          "systemMessage": "={{ $json.prompt_ai_consult }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -780,
        160
      ],
      "id": "61179005-3ea9-4e17-9254-d61bfc9970c2",
      "name": "ai_consultant",
      "retryOnFail": true,
      "executeOnce": false,
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ai_consultant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "sales_technology_tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "sales_technology_tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "stocks_tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "stocks_tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "sales_technology_tool": {
      "ai_tool": [
        [
          {
            "node": "ai_consultant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "stocks_tool": {
      "ai_tool": [
        [
          {
            "node": "ai_consultant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "ai_consultant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "ai_consultant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ai_consultant": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2bae2329-faa7-4ba6-a3e8-d6c4dd56ecb6",
  "meta": {
    "instanceId": "69765f75295b17b4de659b260c6399cb27379370149ca5d0a58384842b36223a"
  },
  "id": "5hnjaw3yjQGyDQzU",
  "tags": [
    {
      "createdAt": "2025-04-18T12:11:08.258Z",
      "updatedAt": "2025-04-18T12:11:08.258Z",
      "id": "mE4OCNW8YdKCOjsf",
      "name": "Алексей Колесов"
    }
  ]
}