aeza-archive/media/31_supabase_ai_consultant_with_memory.json
{
  "name": "supabase_ai_consultant_with_memory",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2960,
        200
      ],
      "id": "84429cd0-7ca4-4362-adea-7e5bba340e8f",
      "name": "Telegram Trigger",
      "webhookId": "dd3d7e38-d3f1-4a46-a003-0d4242e9cb8f"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5d8f92f3-700f-4d1f-8078-4fc6e6936adb",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2680,
        200
      ],
      "id": "344f826f-2422-4fb7-b9bb-ec3d000f9547",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93da28c0-9a7e-41b6-8c04-e37fe0aef5e4",
              "name": "text",
              "value": "={{ $json.text||$json.message.text }}",
              "type": "string"
            },
            {
              "id": "1b6f9dfe-0b71-4c65-9998-adf019cc32ee",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2080,
        180
      ],
      "id": "a3751c0a-c9cb-4878-8263-e29e0a4fc2b5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2520,
        380
      ],
      "id": "9283a3ab-2a65-4e4b-90ac-69c72a5a2597",
      "name": "Telegram",
      "webhookId": "6052587a-e262-411d-ab42-a92ce4944748"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2300,
        380
      ],
      "id": "4063f569-f619-4cec-9c62-9f3c392f728b",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $('ai_assistant').item.json.output }}",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        40
      ],
      "id": "e68f8483-ddb6-4540-8960-13db4fa17e2d",
      "name": "Telegram1",
      "webhookId": "ac8126bf-c9f0-4c60-bcc8-9b7b3f09dc66"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1-mini",
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -960,
        380
      ],
      "id": "995223cf-492b-4ff6-bd5b-252a6510ab9f",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -340,
        40
      ],
      "id": "ccfa068c-c213-412e-9e94-58f77cd74a63",
      "name": "Telegram2",
      "webhookId": "b2699b20-3db6-4b8a-81f4-6d99a40104d7"
    },
    {
      "parameters": {
        "tableId": "message_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $('Telegram Trigger').item.json.message.from.username }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "user"
            },
            {
              "fieldId": "message_text",
              "fieldValue": "={{ $('Edit Fields').item.json.text }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Telegram Trigger').item.json.message.from.first_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1780,
        180
      ],
      "id": "acaad124-67c4-4818-b602-0cab99129dac",
      "name": "Supabase"
    },
    {
      "parameters": {
        "tableId": "message_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $json.result.chat.id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $json.result.from.username }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "agent"
            },
            {
              "fieldId": "message_text",
              "fieldValue": "={{ $('ai_assistant').item.json.output }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.result.chat.username }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        280,
        40
      ],
      "id": "c21b369f-d6c8-48db-b3f4-65178457533c",
      "name": "Supabase1"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents",
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "info_hub_docs"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -80,
        400
      ],
      "id": "fa6f89df-6cd0-41a4-8b10-07095d30e140",
      "name": "Supabase Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -160,
        580
      ],
      "id": "c4c207a5-5f2f-454a-babf-29952880ec80",
      "name": "OpenRouter Chat Model1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        560
      ],
      "id": "560277c0-9662-4019-b456-8f17928e0de5",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Supabase').item.json.message_text }}",
        "options": {
          "systemMessage": "={{ $json.prompt_ai_consult }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -860,
        180
      ],
      "id": "bc6844f3-c190-4401-9e23-328a528c4ef3",
      "name": "ai_assistant",
      "retryOnFail": true,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "stocks",
          "mode": "list",
          "cachedResultName": "stocks"
        },
        "options": {
          "queryName": "match_stocks_sup",
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "stock"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -640,
        620
      ],
      "id": "1c7a94e5-0806-4281-8ff3-2161e13756f4",
      "name": "Supabase Vector Store1"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -300,
        580
      ],
      "id": "10246625-f61c-4234-a796-0f556beb85c6",
      "name": "OpenRouter Chat Model2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -620,
        780
      ],
      "id": "a9dc8765-59ab-4742-b119-bfe4b8b0b9a9",
      "name": "Embeddings OpenAI1"
    },
    {
      "parameters": {
        "name": "stocks",
        "description": "={{ $('Edit Fields1').item.json.prompt_stocks_tool }}",
        "topK": 40
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -580,
        420
      ],
      "id": "82b537c1-8782-43a5-83c5-498c122dbe92",
      "name": "stocks_tool"
    },
    {
      "parameters": {
        "name": "sales_technology",
        "description": "={{ $('Edit Fields1').item.json.prompt_sales_technology_tool }}",
        "topK": 40
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -280,
        240
      ],
      "id": "956a67bb-254d-4af1-bf80-195049787e93",
      "name": "sales_technology_tool"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "tableName": "chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -780,
        400
      ],
      "id": "f0b53616-3c08-4321-9b91-afa26a1cbe9f",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agent_prompt_instructions",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1560,
        180
      ],
      "id": "f4a5cdb0-4221-4cdc-93ae-46882fabd36e",
      "name": "Supabase2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1340,
        180
      ],
      "id": "38170601-c3e1-4921-bbff-f28d601efecb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37687f67-0590-40e5-bfb4-8e8f8c0ac7cb",
              "name": "prompt_ai_consult",
              "value": "={{ $('Aggregate').item.json.data.filter(item => item.id == 1)[0].prompt }}",
              "type": "string"
            },
            {
              "id": "5ceb8460-9b63-4443-a978-74ca1111cc32",
              "name": "prompt_sales_technology_tool",
              "value": "={{ $('Aggregate').item.json.data.filter(item => item.id == 2)[0].prompt }}",
              "type": "string"
            },
            {
              "id": "b6e311ee-dc9e-47f6-bae8-af96f373f28d",
              "name": "prompt_stocks_tool",
              "value": "={{ $('Aggregate').item.json.data.filter(item => item.id == 3)[0].prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        180
      ],
      "id": "26aa0fb5-e1fc-463e-9283-847070579761",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ai_assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "sales_technology_tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "sales_technology_tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ai_assistant": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "stocks_tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "stocks_tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "sales_technology_tool": {
      "ai_tool": [
        [
          {
            "node": "ai_assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "stocks_tool": {
      "ai_tool": [
        [
          {
            "node": "ai_assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "ai_assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "ai_assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "73e76a8d-eda2-4c47-bd17-566d6489713f",
  "meta": {
    "instanceId": "69765f75295b17b4de659b260c6399cb27379370149ca5d0a58384842b36223a"
  },
  "id": "vJ5LFQxNXWvBYGJj",
  "tags": [
    {
      "createdAt": "2025-04-18T12:11:08.258Z",
      "updatedAt": "2025-04-18T12:11:08.258Z",
      "id": "mE4OCNW8YdKCOjsf",
      "name": "Алексей Колесов"
    },
    {
      "createdAt": "2025-04-18T12:12:38.072Z",
      "updatedAt": "2025-04-18T12:12:38.072Z",
      "id": "1vZ2NmaMooE2YD2o",
      "name": "supabase"
    }
  ]
}